<h2 class = "text-center"> Login </h2>
<%= form_for @user, url: login_path do |f| %>
    <div class="form-group">
        <div><%= f.label :name, class: "text-white font-weight-bold tab" %></div>
        <%= f.text_field :name, class: "form-control-lg", placeholder: "username" %>
    </div>

    <div class="form-group">
        <div><%= f.label :password, class: "text-white font-weight-bold tab" %></div>
        <%= f.password_field :password, class: "form-control-lg", placeholder: "password" %>
    </div>

    <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>
<h4> Or </h4><%= link_to "Log In Using Twitch", "https://randomstreamfinder.herokuapp.com/auth/twitch", class:"btn btn-primary" 