<% if @recommendation.errors.any? %>
    <ul>
    <% @recommendation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for [@user, @recommendation] do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <div class='form-group'>
        <%= f.label :channel_name, class:"text-white font-weight-bold tab" %><br>
        <%= f.text_field :channel_name, placeholder: "The streamer's username; must be exact", class: "form-control"%>
    </div>

    <div class='form-group'>
        <%= f.label :content, class:"text-white font-weight-bold tab"%><br>
        <%= f.text_area :content, rows:'10', placeholder: "Describe what you like about this streamer", class: "form-control" %>
    </div>
    <%= f.submit class: 'btn btn-primary tab' %>
<% end %>

    