<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.label :name, class: "text-white font-weight-bold tab" %><br>
        <%= f.text_field :name, class: "form-control-lg", placeholder: "username" %>
    </div>

    <div class="form-group">
        <%= f.label :password, class: "text-white font-weight-bold tab" %><br>
        <%= f.password_field :password, class: "form-control-lg", placeholder: "password" %>
    </div>

    <%= f.submit "Create Account", class: "btn btn-primary" %>
<% end %>
