<h1>Welcome to The Random Stream Finder<h1>
<h2><%= link_to "Log In", login_path %></h2>
<h2><%= link_to "Log In With Twitch", '/auth/twitch' %></h2>
<% if logged_in? %>
    <p><%= "You are logged in as #{current_user.name}" %></p>
    <p><%= button_to "Log Out", logout_path, method: 'POST' %></p>
<% end %>
<iframe
    src= <%= "https://player.twitch.tv/?channel=#{@channel}&parent=localhost" %>
    height="600"
    width="800"
    allowfullscreen="<allowfullscreen>">
</iframe>
<h2><%= link_to "New Stream", root_path %></h2>
