<!DOCTYPE html>
<html>
  <head>
    <title>TwitchTvRandomStreamFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <div class = "bg-dark">
    <nav class="navbar-dark navbar-expand-md" >
      <ul class="navbar-nav">
        <li class= "nav-item">
          <b class= "navbar-text text-primary tab">Random Stream Finder</b>
        </li>
        <li class="nav-item">
          <%= link_to "Find a Stream", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Recommended Streamers", recommendations_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class='nav-item'>
            <%= link_to "Create a Recommendation",
              new_user_recommendation_path(current_user, channel_name: @channel),
              class: "nav-link"
            %>
          </li>
          <li class="nav-item">
            <%= link_to "View Profile Page", user_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", logout_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: 'nav-link' %>
          </li>
          <li class = "nav-item">
            <%= link_to "Signup", new_user_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

<%= yield %>
</body>

</html>
